body{
    font-family: "Oswald";
    background-image: url(https://image.freepik.com/foto-gratis/cocina-moderna-mesa-madera-espacio-usted-productos-exhibicion_91908-1264.jpg) ;
    background-size: 1950px;
}


.header {
  width: 100%;
  display: flex;
}

.my-photo img {
  width: 90%;
  display: inline-block;
  margin-bottom: 0px;

}

.header-content {
  width: 60%;
  margin-right: 700px;
  font-size: 23px;
}

.header-content-name{
  font-size: 50px;
}

.box1{
  width: 650px;
  height: 70px;
  background-color: rgba(169, 169, 169, 0.993);
  padding-left: 20px;
}

.contact{
  margin-left: 20px;
  margin-top: 100px;
}

.info{
  margin-left: 20px;

}

section {
  margin: 10px;
}

.section-header {
  cursor: pointer;
}

.section-experience,
.section-studies,
.section-lang,
.section-others{
  font-size: 30px;
  font-weight:bolder
}

.experience,
.studies,
.lang,
.others{
  display: none;
  font-size: 20px;
  color: black;
}

h4,
h5{
    font-size: 18px;
}

p.descrip{
    font-weight: 600;
}

.active {
  display: block;
  background-color: gray;
  padding: 10px;
}

button {

  font-size: 14px;
  font-weight: 200;
  border: black;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  background: #8b6942;
  color: #fff;
}

footer{
  font-size: 20px;
  font-weight: 800;
}

p.contacto{
  margin: 0;
}

a{
  text-decoration: none;
  color: rgb(8, 83, 221);
}